.weather {
  &__date {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }
  &__description {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  &__data {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
  &__details {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  &__hour {
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    
    &--main {
      border: none;
    }
  }
}
