<div class="weather">
  <div
    class="weather__hour"
    [class]="{ 'weather__hour--main': currentWeather }"
  >
    <div class="weather__date">
      {{ weather.date | date : dateType.dateFormat }}
    </div>
    <div class="weather__description">
      {{ weather.description }}
      <i>{{ weather.icon }}</i>
    </div>
    <div class="weather__data">
      <div class="weather__temperature">{{ weather.temperature }}° C</div>
      <div class="weather__wind">wind: {{ weather.windspeed }}</div>
    </div>
  </div>
</div>
