.weather {
    margin-top: 20px;

    &__cities {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__city {
        font-size: 1rem;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #f0f0f0;
        }
        &--active, &--active:hover {
            background-color: #4a90e2;
            border: 1px solid #4a90e2;
            color: white;
            font-weight: bold;
        }
    }
}

.info {
    margin-top: 100px;
    text-align: center;
}