<div class="weather-day">
  <app-weather
    [weather]="currentWeather!"
    [dateType]="{ dateFormat: 'longDate' }"
    [currentWeather]="true"
  ></app-weather>

  <details class="weather-day__details">
    <summary>Hourly Forecast</summary>
    <div class="weather-day__hourly">
      @for (hourlyWeather of weather; track hourlyWeather.date) {
      <app-weather
        [weather]="hourlyWeather"
        [dateType]="{ dateFormat: 'shortTime' }"
      ></app-weather>
      }
    </div>
  </details>
</div>
